#main-container {
	margin-top: 100px;
}

.page-content-container {
	margin-top: 20px;
}

#search-form-container {
	text-align: center;
}

.card-deck {
	margin-top: 20px;
}

.card {
	padding-left: 0px;
	line-height: 1;
	text-align: center;
	color: black;
}

.card-text-container {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 3px;
}

.right-of-sidebar {
	margin-left: 250px;
	padding: 20px;
}

#sidebar {
	margin-top: 85px;
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	border: 5px outset purple;
	background-color: purple;
	color: white;
	overflow-x: hidden;
}

#sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

.sidebar a:hover {
	color: #f1f1f1;
}

/* Style the sidenav links and the dropdown button */
.sidebar a,
.dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
	color: #f1f1f1;
}

/* Main content */
.main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-items-container {
	padding-left: 8px;
	padding-bottom: 0px;
	border: 3px inset purple;
	color: white;
	background-color: #815f81;
	width: 100%;
}

.dropdown-button-container {
	width: 100%;
}

.dropdown-item {
	width: 100px;
	font-size: 12px;
	word-wrap: break-word;
}

.dropdown-container {
	border: 3px inset purple;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.dropdown-button-text {
	font-size: 14px;
}

.sidebar-title {
	font-size: 17px;
}

.hide {
	display: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	background-color: white;
	color: white;
	float: right;
	padding-right: 8px;
}

.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
